.App {
  text-align: center;
}

.App-logo {
  height: 69vmin;
}

.App-header {
  background-color: #dd6b00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  overflow: hidden;
  /* Set the navbar to fixed position */
  position: fixed;
  /* Position the navbar at the top of the page */
  top: 0;
  /* Full width */
  width: 100%;
  z-index: 1000;
}